{%extends "base.html"%}

{%block content%}
<section class="slideshow">
	<div class="slide-container slide">
		<img  class="slider-image" src="static/img/slider/authentic-768x512.jpg" height="512" width="768" alt="Ready Slider One" />
		<img class="slider-image" src="static/img/slider/community-768x512.jpg" height="512" width="768" alt="Ready Slider Two" />
		<img class="slider-image" src="static/img/slider/respectful-768x512.jpg" height="512" width="768" alt="Ready Slider Three" />
	</div>
</section>
<div class = 'sign-board'>
	<h1>Welcome to the Millinery Center Synagogue: <br> Your City Center for Judaism</h1>
	<ul>
		<li>Mincha Monday-Thursday at 12:35 PM & 1:35 PM</li>
		<li>Mincha on Friday is at <strong>12:35 PM</strong></li>
		<li>Lunch & Learn with Rabbi Kahn Wednesdays at 12:45 PM</li>
	</ul>
	We would love for you to join us. To become a member, please fill out <a href="static/old_membership.pdf" target="_blank" rel="noopener">this form</a> and email it to <a href="mailto:millinerycs@gmail.com">millinerycs@gmail.com</a>.
</div>
{%endblock%}
