{% extends "base.html" %}

{% block content %}
		Rebetzin Kahn, a native of Detroit, Michigan studied at the Michlala in
		Israel for two years and graduated from Queens College.  She is an
		accomplished Judaica silversmith and this artistic creativity is evident in
		the CFR literature and programming.

		Over the years, Mrs. Kahn has hosted thousands for Shabbat, holidays, and
		events where her culinary expertise is very much in evidence. Her warmth and
		friendliness are responsible for many hundreds of Jews returning to their
		heritage.
{% endblock %}
